<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCD8ngbccXXL1oumeDQGgoLDicWkUWBGPI</string>
	<key>GCM_SENDER_ID</key>
	<string>1014022094930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>loginapp-527ba</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapp-527ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014022094930:ios:1e3ca6399a41699a969f8b</string>
</dict>
</plist>